<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
<body>
  <h1><%= title %></h1>
  <%- include("partials/errors.ejs") %>
  <form action="/<%= user.id %>/update" method="POST">
    <div>
      <label for="firstName">First Name: </label>
      <input type="text" name="firstName" value="<%= user.firstName %>" required>
    </div>
    <div>
      <label for="lastName">Last Name: </label>
      <input type="text" name="lastName" value="<%= user.lastName %>" required></div>
    <div>
      <label for="email">Email: </label>
      <input type="email" name="email" value="<%= user.email %>" required>
    </div>
    <div>
      <label for="age">Age: </label>
      <input type="number" name="age" value="<%= user.age %>" >
    </div>
    <div>
      <label for="bio">Bio: </label>
      <textarea name="bio" id="bio" rows="10" cols="50"><%= user.bio %></textarea>
    </div>
    <button type="submit">Update User</button>
  </form>
  <a href="/">Back to home</a>
</body>
</html>
